[submodule "daily/20180526/example_seaborn"]
	path = daily/20180526/example_seaborn
	url = git@github.com:podhmo-sandbox/seaborn-sandbox.git
[submodule "daily/20180601/example_go_plugin"]
	path = daily/20180601/example_go_plugin
	url = git@github.com:podhmo-sandbox/go-plugin-sandbox.git
[submodule "daily/20180602/example_react_native_web"]
	path = daily/20180602/example_react_native_web
	url = git@github.com:podhmo-sandbox/react-native-web-sandbox.git
[submodule "20180602/example_react_native_web"]
	path = 20180602/example_react_native_web
	url = git@github.com:podhmo-sandbox/react-native-web-sandbox.git
