## markdown sample

include code

```python
{{"./powerset.py"|read_from_file|indent(2)}}
```

include code output

```bash
$ python main.py 1 2 3 a b c
{{"python main.py 1 2 3 a b c"|read_from_command|indent(2)}}
```
